<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collaps">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#/index">What.CD</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li ng-class="getNavClass('index')"><a href="#/index">Home</a></li>
					<li ng-class="getNavClass('torrents')"><a href="#/torrents">Torrents</a></li>
					<li ng-class="getNavClass('forums')"><a href="#/forums">Forums</a></li>
					<li ng-class="getNavClass('subscriptions')">
						<a href="#/subscriptions">Subscriptions</a>
					</li>
					<li ng-class="getNavClass('inbox')"><a href="#/inbox">Inbox</a></li>
				</ul>
				<ul class="nav pull-right">
					<li id="fat-menu" class="dropdown">
						<a href="" id="user_menu" role="button" class="dropdown-toggle" 
							data-toggle="dropdown">
							{{user.username}}
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a ng-click="logout()">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
